<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math</title>
  <link rel="stylesheet" href="/styles/math.css">
</head>
<body>
  <%- include('partials/Header.ejs') %>
  <main class="math-page">
    <section class="math-catalog">
      <h2>Math Course Catalog</h2>
      <ul>
        <li><a href="/math_quiz">Maths Quiz</a></li>
        <!-- Lessons -->
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; STEM E-Learning Platform</p>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const menuToggle = document.getElementById('mobile-menu');
    const menu = document.querySelector('nav.menu');

    menuToggle.addEventListener('click', function () {
        console.log('Toggle clicked');
        menu.classList.toggle('active');
        menuToggle.classList.toggle('active');
    });
});
  </script>
</body>
</html>
